$largestScreen: 2000px;

.headingText {
    @apply font-altoneBold font-bold text-center;
    @apply text-[2.25rem] lg:text-[2.75rem];
    @apply leading-[3.15rem] lg:leading-[1.7238rem];
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.faqSectionContainer {
    @apply lg:px-[6.875rem] px-4;

    @media screen and (min-width: $largestScreen) {
        .largeSc{
            @apply xl:pb-[114px];
        }
    }
}