.mainSection {
    @apply bg-white lg:py-[72px]
    px-4 py-[72px]
    md:px-0;
}

.sectionHeaderText {
    @apply text-[#4A4A4A] text-center lg:text-[48px] font-[800] lg:leading-[48px] 
    text-[38px] leading-[111.111%] font-gilroy;
    // text-[#FFA500]
}

.imagesRow {
    @apply flex flex-col md:flex-row md:flex-wrap md:items-stretch md:justify-center gap-6 md:gap-0 md:-mx-3;
}

.imageCol {
    @apply md:w-3/12 lg:w-4/12 md:p-3;
}

.imageCover {
    @apply rounded bg-[#FAFAFA] py-[22px] px-[52px] md:p-4 lg:py-[22px] lg:px-[52px] w-full flex items-center justify-center;
    
    // Set a consistent height for all cards
    height: 120px; // Adjust this value as needed
    
    // Ensure all cards in a row have the same height
    min-height: 120px;
    
    img {
        @apply max-w-full max-h-full object-contain;
        
        // Target POAP image specifically
        &[src*="poap.svg"] {
            height: 50% !important;
        }
    }
}