/* nav container */
.navContainer {
  @apply flex justify-between;
  @apply bg-white;
  @apply px-4 lg:px-[3.25rem] py-[23.25px] md:py-[0.875rem];
  @apply h-[66.5px] lg:h-[84px] z-20;
  @apply border-b border-[#61616133];
  transition: left right 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &.isAbsolute {
    @apply absolute left-0 right-0;
  }
  &.isSticky {
    @apply fixed left-0 right-0;
  }
}

/* collapse navbar section */
.collapseNavBarSection {
  @apply rounded-[0px_0px_32px_32px] border-b border-white bg-[#FCFCFC] shadow-[0px_2px_8px_0px_rgba(0,0,0,0.10)]
    flex flex-col justify-start
    fixed inset-0 z-50 
    lg:px-10 lg:py-2.5 px-4 py-2.5
    min-h-screen lg:h-screen overflow-auto;
  // justify-between

  & .hamburgerMenuContainer {
    @apply relative z-10 rounded-[32px] bg-black p-3 flex items-center justify-center gap-2.5;
  }

  &.active {
    @apply opacity-10;
  }

  &.inActive {
    @apply opacity-0;
    animation: opacityL 1s ease-in-out;
  }

  @keyframes opacityL {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}


/*nav sub buttons*/

.heroButton {
  @apply inline-flex items-center justify-center rounded-[32px];
  @apply text-center text-[16px] font-bold leading-[125%];
  @apply p-5 h-[64px];
  @apply w-full lg:w-auto;
  @apply bg-[#803134];
  @apply text-white;
  @apply hover:bg-transparent hover:border hover:border-[#803134] hover:text-[#803134];

  &:hover {
    & svg {
      @apply fill-[#803134];
      & path {
        @apply fill-[#803134];
      }
    }
  }
}

.heroButtonInverse {
  @apply inline-flex items-center justify-center rounded-[32px];
  @apply text-center text-[16px] font-bold leading-[125%];
  @apply p-5 h-[64px];
  @apply w-full lg:w-auto;
  @apply border border-[#803134];
  @apply bg-white;
  @apply text-[#803134];
  @apply hover:bg-[#803134] hover:border hover:border-white hover:text-white;

  &:hover {
    & svg {
      @apply fill-white;
      & path {
        @apply fill-white;
      }
    }
  }
}

/* regular style*/
.hamburgerMenuCover {
  @apply rounded-[32px] p-3 gap-2.5;
  @apply lg:hidden;
}

.anchorLinks {
  @apply text-[#373737] text-center font-semibold;
  @apply text-base leading-[1.5rem];
  transition: all;
  &:hover {
    @apply hover:text-[#803134];
  }
}

.anchorLinksCollapsible {
  @apply text-[#373737] text-center font-semibold;
  @apply text-xl leading-[1.5rem];
  transition: all;
  &:hover {
    @apply hover:text-[#803134];
  }
}

.ethAccraNavText {
  @apply text-[#252525] text-[32px] font-[800] leading-[112.5%] lg:block
    hidden font-altoneBold;
}

.ethAccraHackathonNavText {
  @apply text-[#F5C303] text-[20px] font-bold leading-normal lg:inline-block
    hidden font-altoneBold;
}


