$largestScreen: 3000px;

.heroContainer {
  @apply pt-[11.875rem] lg:pt-60;
  @apply mb-4 lg:mb-0;

  .largeHeading {
    @apply text-[#B17F34];
    @apply text-[4.5rem] lg:text-[7.5rem];
    @apply font-bold;
    @apply leading-[1.724rem];
    @apply text-center;
    @apply font-altoneBold;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .dateText {
    @apply font-altoneBold;
    @apply text-[26px] lg:text-[36px];
    @apply font-bold;
    @apply leading-[1.724rem];
    @apply text-center;
    @apply uppercase;
    @apply text-[#616161];
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .descriptionText {
    @apply font-altone;
    @apply text-lg;
    @apply font-medium;
    @apply leading-[27.58px];
    @apply text-center;
    @apply text-[#111111];
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.heroButton {
  @apply inline-flex items-center justify-center rounded-[32px];
  @apply text-center text-[16px] font-bold leading-[125%];
  @apply p-5 h-[64px];
  @apply w-full lg:w-auto;
  @apply bg-[#803134];
  @apply text-white;
  @apply hover:bg-transparent hover:border hover:border-[#803134] hover:text-[#803134];

  &:hover {
    & svg {
      @apply fill-[#803134];
      & path {
        @apply fill-[#803134];
      }
    }
  }
}

.heroButtonInverse {
  @apply inline-flex items-center justify-center rounded-[32px];
  @apply text-center text-[16px] font-bold leading-[125%];
  @apply p-5 h-[64px];
  @apply w-full lg:w-auto;
  @apply border border-[#803134];
  @apply bg-white;
  @apply text-[#803134];
  @apply hover:bg-[#803134] hover:border hover:border-white hover:text-white;

  &:hover {
    & svg {
      @apply fill-white;
      & path {
        @apply fill-white;
      }
    }
  }
}
